html {
      border-bottom-style: hidden;
      background-size: contain;
      background-color: brown;
}
body {background-position: center;
    text-align-last:center;}


h3 {color: aqua;
    border-style: double;
    
   
   }
i {color: chartreuse;}

input {object-position: center;}


