body, html{
    background-color: antiquewhite;

}

.ecran{
    width: 400px;
    height: 80px;
    background-color: silver;
    border-radius: 5px;
    box-shadow: slategrey;
    border-style: none;
    
    
}

input[type = "text"]{
    width: 375px;
    height: 70px;
    background-color: rgb(149, 170, 32);
    border-radius: 5px;
    box-shadow: rgb(46, 104, 163);
    border-style: none;
    z-index: 1;
    font-size: 20px;
    color: brown;
}


.numbers{
    width: 400px;
    height: 650px;
    background-color: silver;
    border-radius: 20px;
    box-shadow: slategrey 10px;
    padding-left: 16px;
    padding-top: 10px;
    position: absolute;
    left: 40%;
    
    
}

button{
    width:90px;
    height: 90px;
    background-color: rgb(179, 20, 147);
    color: rgb(184, 17, 17);
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    background-color: silver;
}

input[type = "text"]:hover{
    background-color: cyan;
}

#reset:hover{
    background-color: red;
}
#equal:hover{
    background-color: green;
}





