/*body{
    background-color: grey;
}

a{
    width: 40px;
    height: 40px;
    float: left;
    text-indent: -9999px;
    margin: 5px;
    cursor: pointer;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#pink{
    background-color: pink;
}
#black{
    background-color: black;
}
 

body{
    background-color: grey;
}
p{
    background-color: green;
    width: 100px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-size: 10px;
    position: absolute;
    left: 50%;
}
a{
    width: 20px;
    height: 20px;
    float: left;
    text-indent: -9999px;
    margin: 5px;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#pink{
    background-color: pink;
}
#black{
    background-color: black;
}
#blue{
    background-color: blue;
}*/



