body{
    background-color: teal;
    display: flex;
    align-content: center;
    align-items: center;
}

ul{
    list-style-type: georgian;
   
    padding: auto;
}

li{
  color: lawngreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: tomato; 
}