*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Tahoma, Arial;
}

.slide-container{
    margin: 10px auto;
    width: 800px;
    height: 500px;
    position: relative;
}

.slide-container img{
    width: 800px;
    height: 450px;
    position: absolute;
    left: 10px;
    top: 30px;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.slide-container img.active{
    opacity: 1;
}

.slide-container .slide-number{
    position: relative;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, .6);
    color: #FFF;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}

.slide-controls{
    width: 800px;
    margin: auto;
    overflow:hidden;
}

.slide-controls .prev,
.slide-controls .next{
    background-color: springgreen;
    color: black;
    font-size: 16px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
}

.slide-controls .prev{
    float: left;
}

.slide-controls .next{
    float: right;
}

.slide-controls .prev.disabled,
.slide-controls .next.disabled{
    background-color: rgba(0, 150, 136, 0.5);
    cursor: no-drop;
}

.slide-controls .indicators{
    width: 60%;
    float: left;
}

.slide-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slide-controls .indicators ul li{
    display: inline-block;
    background-color: #F6F6F6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}

.slide-controls .indicators ul li.active{
    background-color: springgreen;
    color: #FFF;
}

hr{
    
}